<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pglombardo.pwpush</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>04B2B610-68B7-4422-A68E-E160D2A3EEED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF823619-F32E-47B5-871F-A94C9135795E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF823619-F32E-47B5-871F-A94C9135795E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DDDD1DD-960C-4FC7-A98F-BB256449CEC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7172DED4-57FD-4204-8226-F833F718CD3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6426AAB0-099B-473A-9BEE-C2E5C29C36FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peter Giacomo Lombardo</string>
	<key>description</key>
	<string>Push passwords to pwpush.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PasswordPusher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4DDDD1DD-960C-4FC7-A98F-BB256449CEC9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env ruby

require "net/http"
require "uri"
require "json"

uri = URI.parse(ENV['site'] + "/p.json")

retrieval_step = "false"
if ENV['retrieval_step'] == "1" then
    retrieval_step = "true"
end

deletable_by_viewer = "true"
if ENV['deletable_by_viewer'] == "0" then
    deletable_by_viewer = "false"
end 

r = Net::HTTP.post_form(uri, {
    "password[payload]" =&gt; "{query}", 
    "password[expire_after_days]" =&gt; ENV['expire_after_days'],
    "password[expire_after_views]" =&gt; ENV['expire_after_views'],
    "password[retrieval_step]" =&gt; retrieval_step,
    "password[deletable_by_viewer]" =&gt; deletable_by_viewer,
})

url = ENV['site'] + "/p/" + JSON.parse(r.body)["url_token"]

if ENV['retrieval_step'] == "1" then
	url += '/r'
end
print url</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF823619-F32E-47B5-871F-A94C9135795E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7172DED4-57FD-4204-8226-F833F718CD3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pwp</string>
				<key>subtext</key>
				<string>Push a password</string>
				<key>text</key>
				<string>PasswordPusher</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04B2B610-68B7-4422-A68E-E160D2A3EEED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Link copied to clipboard.</string>
				<key>title</key>
				<string>PasswordPusher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6426AAB0-099B-473A-9BEE-C2E5C29C36FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Workflow for PasswordPusher

https://pwpush.com/
https://github.com/pglombardo/pwpush-alfred

————————————————————————
Idea for this by https://github.com/psteinweber</string>
	<key>uidata</key>
	<dict>
		<key>04B2B610-68B7-4422-A68E-E160D2A3EEED</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>4DDDD1DD-960C-4FC7-A98F-BB256449CEC9</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6426AAB0-099B-473A-9BEE-C2E5C29C36FF</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7172DED4-57FD-4204-8226-F833F718CD3D</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BF823619-F32E-47B5-871F-A94C9135795E</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://pwpush.com</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Push Site</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>site</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>7</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Expire after days</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>expire_after_days</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>5</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Expire after views</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>expire_after_views</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Helps to avoid chat systems and URL scanners from eating up views.</string>
			<key>label</key>
			<string>Use a 1-click retrieval step</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>retrieval_step</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Allow users to delete passwords once retrieved.</string>
			<key>label</key>
			<string>Allow immediate deletion</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>deletable_by_viewer</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://pwpush.com</string>
</dict>
</plist>
